<!-- footer Start -->
<footer class="page-footer font-small blue pt-4 pb-4 footer">
  <div class="container-fluid" style="max-width: 1322px;">
    <div class="footer-padding">
      <div class="row">
        <div class="col-xl-3 col-6 text-left pb-cust">
          <h4 class="pb-cust-h4">Jonas Hoste</h4>
          <a href="tel:+320468279409">+32 (0) 468 27 94 09</a>
          <a href="mailto:jonas@hostevanhee.eu">jonas@hostevanhee.eu</a>
        </div>
        <div class="col-xl-3 col-6 text-left pb-cust">
          <h4 class="pb-cust-h4">Valentijn Vanhee</h4>
          <a href="tel:+320495235737">+32 (0) 495 23 57 37</a>
          <a href="mailto:valentijn@hostevanhee.eu">valentijn@hostevanhee.eu</a>
        </div>
        <div class="no-desktop col-12">
          <hr class="footer-divider">
        </div>
        <div class="col-xl-2 col-4 text-left align-self-end pb-cust">
          <p>Heernislaan 19 <br> 9000 Gent</p>
        </div>
        <div class="col-xl-2 col-4 text-center align-self-center pb-cust no-desktop">
          <a href="https://www.instagram.com/hostevanhee/" target="_blank"><i class="fa fa-instagram" aria-hidden="true" style="padding-right: 10px;"></i></a>
          <a href="https://www.facebook.com/hostevanhee/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
        </div>
        <div class="col-xl-2 col-4 text-left align-self-end pb-cust">
          <p>Kasteelstraat 118 <br> 8700 Tielt</p>
        </div>
        <div class="col-xl-2 col-4 text-right align-self-center pb-cust no-mobile">
          <a href="https://www.instagram.com/hostevanhee/" target="_blank"><i class="fa fa-instagram" aria-hidden="true" style="padding-right: 10px;"></i></a>
          <a href="https://www.facebook.com/hostevanhee/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
        </div>
        <div class="col-12 text-center align-self-end pb-cust no-desktop" style="padding-bottom: 0;">
          <p>© Hoste Vanhee</p>
        </div>
      </div>
    </div>
  </div>
</footer>
