---
layout: default
index: 3
title: Woning Tielt
description: Renovatie van een woning in Tielt door HosteVanhee.
---


{% include project-style.html %}


<div class="over">
  <div class="container-fluid">
    <div class="over-margin" style="background-color: #F18664;">
      <span class="over-special-margin">Tielt</span>
      <div class="over-image">
        <img src="/img/Tielt De Grande/tielt-kraan-degrande.jpg" alt="Bronzen kraan en groene kast">
      </div>
      <div class="over-text">
        <p>
          In Tielt gingen we aan de slag met een leeg nest: de kinderen zijn het huis uit. Dit deed de bewoners verlangen naar een nieuwe keuken met zicht op hun tuin. 
          <br><br>
          Dit project werd een volledige verbouwing waarbij architectuur, interieur en tuinarchitectuur één geheel vormen.
          <br><br>
          Om de keuken de ruimte te geven die ze verdient, ontwierpen we een nieuwbouwgedeelte. Het volledig wegwerken van de raamprofielen zorgt voor een naadloze overgang tussen de leefkeuken en de heraangelegde tuin.
          <br><br>.
          Het gebruik van edele en natuurlijke materialen zorgt voor een harmonieus geheel waar men tot rust kan komen en genieten.</p>
      </div>
    </div>
  </div>
</div>

<div class="color-spacer skyblue"></div>

<div class="image-two-right showcase">
  <div class="container-fluid">
    <div class="image-area">
      <img src="/img/Tielt De Grande/tielt-keukendetail-degrande.jpg" alt="Hendels aan de groene kast">
    </div>
    <div class="text-area">
      <img src="/img/Tielt De Grande/tielt-tuin-degrande.jpg" alt="Tuin detail met raam naar de keuken">
      <span class="tilt-text case2a">Tielt <br> 32 m<sup>2</sup></span>
      <span class="tilt-text itl case3a text-skyblue hybrid-text-midnightblue no-mobile">“Onze keuken is een leefkeuken geworden. Architectuur, interieur en tuin zijn echt één geheel.”</span>
    </div>
  </div>
</div>

<div class="color-spacer midnightblue hybrid-skyblue"></div>

<div class="image-left">
  <div class="text-area mx-auto">
    <img src="/img/Tielt De Grande/tielt-keuken-degrande.jpg" alt="Overzicht van de keuken en de tuin">
  </div>
</div>

<div class="color-spacer orange"></div>

<div class="image-right">
  <div class="text-area mx-auto">
    <img src="/img/Tielt De Grande/tielt-eetkamer-degrande.jpg" alt="Eettafel en in de achterkant keuken in het groen">
  </div>
</div>


<div class="color-spacer midnightblue for-abtbx"></div>

{% include related.html %}


<div class="color-spacer midnightblue last-index2"></div>
