---
layout: default
index: 4
title: Woning Wevelgem
description: Renovatie van een woning in Wevelgem door HosteVanhee.
---


{% include project-style.html %}


<div class="over">
  <div class="container-fluid">
    <div class="over-margin" style="background-color: #F18664;">
      <span class="over-special-margin">Wevelgem</span>
      <div class="over-image">
        <img src="/img/Wevelgem Timon/wevelgem-leefkamer-timon.jpg" alt="Leefkamer van de de gerenoveerde woning">
      </div>
      <div class="over-text">
        <p>
          Een voormalige opslagloods in Wevelgem verbouwden we tot een innovatieve loft, waar de bewoners hun kunst kunnen tentoonstellen voor vrienden en kennissen. 
          <br><br>
          We ontwierpen een open plan met een duidelijke zonering van de verschillende werk- en leeffuncties. De centrale zwevende haard en ramen in het zadeldak zorgen voor voldoende licht én verbinding tussen de woonfuncties.
          <br><br>
          Zo kwamen we tot een sereen geheel waarbij de ruimte dienst doet als canvas voor de kunst.
          <br><br>
          Met warme en innovatieve materialen gaven we de loft de juiste look en feel. Ze dragen bovendien ook bij tot een perfecte akoestiek in deze open ruimte.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="color-spacer skyblue"></div>

<div class="image-two-right showcase">
  <div class="container-fluid">
    <div class="image-area">
      <img src="/img/Wevelgem Timon/wevelgem-kraan-close.jpg" alt="Kraan in close up met zwarte metro tegels">
    </div>
    <div class="text-area">
      <img src="/img/Wevelgem Timon/wevelgem-eetkamer-timon-2.jpg" alt="Overzicht van de leefkamer met kleurrijke sofas">
      <span class="tilt-text case2a">Wevelgem <br> 200 m<sup>2</sup></span>
      <span class="tilt-text itl case3a text-skyblue hybrid-text-midnightblue no-mobile">“Onze kunst diende echt te spreken in ons interieur. Door het subtiele materiaalgebruik van HosteVanhee spreken onze werken nog meer tot de verbeelding.”</span>
    </div>
  </div>
</div>

<div class="color-spacer midnightblue hybrid-skyblue"></div>

<div class="image-left">
  <div class="text-area mx-auto">
    <img src="/img/Wevelgem Timon/wevelgem-keuken-timon.jpg" alt="Ingebouwde keuken met kraan en ingebouwde oven">
  </div>
</div>

<div class="color-spacer orange"></div>


<div class="image-two-right showcase">
  <div class="container-fluid">
    <div class="text-area left-img">
      <img src="/img/Wevelgem Timon/wevelgem-eetkamer-timon-3.jpg" alt="Eetkamer met hangende openhaard">
    </div>
      <div class="image-area right-img">
        <img src="/img/Wevelgem Timon/wevelgem-kasten.jpg" alt="Schilderij met kleurrijke stoelen">
      </div>
  </div>
</div>

<div class="color-spacer skyblue"></div>

<div class="image-right">
  <div class="text-area mx-auto">
    <img src="/img/Wevelgem Timon/wevelgem-openhaard-timon.jpg" alt="Openhaard met zwarte kast vanachter">
  </div>
</div>


<div class="color-spacer midnightblue for-abtbx"></div>

{% include related.html %}


<div class="color-spacer midnightblue last-index2"></div>
