---
layout: default
index: 7
---


{% include project-style.html %}


<div class="over">
  <div class="container-fluid">
    <div class="over-margin" style="background-color: #F18664;">
      <span class="over-special-margin">Damme</span>
      <div class="over-image">
        <img src="/img/Studio Sam/damme-studiosam-spiegel.jpg" alt="over ons">
      </div>
      <div class="over-text">
        <p>Voor dit villaproject in Damme werd naast de woning ook een gym gebouwd. Deze sport- en ontspanningsruimte dient voor zowel privé als professioneel gebruik.

          <br><br>HosteVanhee heeft het villagevoel verder vertaald in het interieurconcept van de gym. We richten een exclusieve gymruimte in waar iedere bezoeker in sereniteit en luxe kan sporten.</p>

        <p>De gym is voorzien van op maat gemaakte kasten om al het sportmateriaal mooi te schikken. Zo blijft de ruimte steeds sereen en ruimtelijk.

          <br><br>Veel natuurlijk licht,, witte muren en donkere kasten vormen een evenwichtig geheel dat in lijn ligt met de architectuur van de villa.</p>

      </div>
    </div>
  </div>
</div>

<div class="color-spacer skyblue"></div>

<div class="image-two-right showcase">
  <div class="container-fluid">
    <div class="image-area">
      <img src="/img/Studio Sam/damme-studiosam-houtenwand.jpg" alt="over ons">
    </div>
    <div class="text-area">
      <img src="/img/Studio Sam/damme-studiosam-producten.jpg" alt="over ons">
      <span class="tilt-text case2a">Gym <br> 75 m<sup>2</sup></span>
      <span class="tilt-text itl case3a text-skyblue hybrid-text-midnightblue no-mobile">“Voor ons was het belangrijk dat de gym een exclusief karakter uitstraalt. HosteVanhee heeft ons onmiddellijk overtuigd met hun schetsen en materiaalstudie. Een aangename samenwerking.”</span>
    </div>
  </div>
</div>

<div class="color-spacer midnightblue hybrid-skyblue"></div>

<div class="image-left">
  <div class="text-area mx-auto">
    <img src="/img/Studio Sam/damme-studiosam-bokszak.jpg" alt="over ons">
  </div>
</div>

<div class="color-spacer orange"></div>


<div class="image-two-right showcase">
  <div class="container-fluid">
    <div class="text-area left-img">
      <img src="/img/Studio Sam/damme-studiosam-wittewand.jpg" alt="over ons">
    </div>
      <div class="image-area right-img">
        <img src="/img/Studio Sam/damme-studiosam-ruimte.jpg" alt="over ons">
      </div>
  </div>
</div>

<div class="color-spacer midnightblue for-abtbx"></div>

{% include related-com.html %}


<div class="color-spacer midnightblue last-index2"></div>
