---
layout: default
index: 6
title: Woning Tielt
description: Renovatie van een woning in Tielt door HosteVanhee.
---


{% include project-style.html %}


<div class="over">
  <div class="container-fluid">
    <div class="over-margin" style="background-color: #F18664;">
      <span class="over-special-margin">Tielt</span>
      <div class="over-image">
        <img src="/img/Tielt Jonas/tielt-bijbouw-jonas-2.jpg" alt="Renovatie bijbouw in Tielt">
      </div>
      <div class="over-text">
        <p>
          Met een totaalrenovatie maakten we van deze arbeiderswoning in Tielt een moderne stadswoning. Het ontwerpen van een nieuwbouwgedeelte was hierbij noodzakelijk. De schuine lijn van het perceel trokken we door in de vormgeving van de nieuwe ruimtes. 
          <br><br>
          Deze krachtlijnen hebben we vertaald doorheen het ganse ontwerp.
          <br><br>
          Ze functioneren in het interieur als verbinding tussen de verschillende leefruimtes. Dit zorgt voor een mooi evenwicht doorheen de woning. De grote glaspartij in de achtergevel versterkt de verbinding tussen de bestaande woning en het nieuwbouwgedeelte.
          <br><br>
          Het gebruik van de nieuwste technieken geeft deze woning een moderne update met respect voor de bestaande architectuur.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="color-spacer skyblue"></div>

<div class="image-two-right showcase">
  <div class="container-fluid">
    <div class="image-area">
      <img src="/img/Tielt Jonas/two-left.jpg" alt="Renovatie in keuken">
    </div>
    <div class="text-area">
      <img src="/img/Tielt Jonas/two-right.jpg" alt="Renovatie keukentafel">
      <span class="tilt-text case2a">Tielt <br> 150 m<sup>2</sup></span>
      <span class="tilt-text itl case3a text-skyblue hybrid-text-midnightblue no-mobile">“De vlotte samenwerking, en de duidelijke communicatie hebben gezorgd voor een prachtig project.”</span>
    </div>
  </div>
</div>

<div class="color-spacer midnightblue hybrid-skyblue"></div>

<div class="image-left">
  <div class="text-area mx-auto">
    <img src="/img/Tielt Jonas/tielt-eetkamer-jonas-2.jpg" alt="Eetkamer in Tielt">
  </div>
</div>

<div class="color-spacer orange"></div>


<div class="image-two-right showcase">
  <div class="container-fluid">
    <div class="text-area left-img">
      <img src="/img/Tielt Jonas/tielt-eetkamer-jonas.jpg" alt="Renovatie eetkamer Tielt">
    </div>
      <div class="image-area right-img">
        <img src="/img/Tielt Jonas/tielt-rodekeuken-jonas.jpg" alt="Rode keuken afwerking in Tielt">
      </div>
  </div>
</div>

<div class="color-spacer skyblue"></div>

<div class="image-right">
  <div class="text-area mx-auto">
    <img src="/img/Tielt Jonas/tielt-bijbouw-jonas.jpg" alt="Bijbouw in Tielt">
  </div>
</div>


<div class="color-spacer midnightblue for-abtbx"></div>

{% include related.html %}


<div class="color-spacer midnightblue last-index2"></div>
