---
layout: default
index: 5
title: Apotheek Loppem
description: Renovatie van een apotheker in Loppem door HosteVanhee.
---


{% include project-style.html %}


<div class="over">
  <div class="container-fluid">
    <div class="over-margin" style="background-color: #F18664;">
      <span class="over-special-margin">Loppem</span>
      <div class="over-image">
        <img src="/img/Loppem/loppem-apotheek-buitengevel.jpg" alt="over ons">
      </div>
      <div class="over-text">
        <p>Deze apotheek in Loppem had een totale make-over nodig: de zaak was te klein in vergelijking met het privégedeelte. Aan de kant van de straat oogde de apotheek niet commercieel genoeg en de parking was niet efficiënt ingedeeld.</p>
        <p>Een grote renovatie waarbij architectuur, interieur en exterieur één identiteit vormen: Dat was de duidelijke opdracht voor HosteVanhee.

          <br><br.De voorgevel werd volledig opengetrokken en vervangen door een meer open en architecturale gevel. In de apotheek zelf zorgen verschillende plafondhoogtes voor een duidelijke zonering van de pharmaceutische producten. De parking werd volledig heraangelegd zodat het geheel commerciëler oogt. .

          <br><br>Een sterke architecturale visie zorgt voor een opvallend straatbeeld dat bovendien ook praktischer is. </p>

      </div>
    </div>
  </div>
</div>

<div class="color-spacer skyblue"></div>

<div class="image-two-right showcase">
  <div class="container-fluid">
    <div class="image-area">
      <img src="/img/Loppem/oppem-apotheek-inkom.jpg" alt="over ons">
    </div>
    <div class="text-area">
      <img src="/img/Loppem/loppem-apotheek-plant.jpg" alt="over ons">
      <span class="tilt-text case2a">Apotheek <br> 160 m<sup>2</sup></span>
      <span class="tilt-text itl case3a text-skyblue hybrid-text-midnightblue no-mobile">“Een gedurfd ontwerp dat door HosteVanhee werd uitgevoerd binnen budget, timing en met een vooruitstrevende visie op de apotheek van de toekomst.”</span>
    </div>
  </div>
</div>

<div class="color-spacer midnightblue hybrid-skyblue"></div>

<div class="image-left">
  <div class="text-area mx-auto">
    <img src="/img/Loppem/loppem-apotheek-counter.jpg" alt="over ons">
  </div>
</div>

<div class="color-spacer skyblue"></div>

<div class="image-right">
  <div class="text-area mx-auto">
    <img src="/img/Loppem/loppem-apotheek-buitengevel-2.jpg" alt="over ons">
  </div>
</div>


<div class="color-spacer midnightblue for-abtbx"></div>

{% include related-com.html %}


<div class="color-spacer midnightblue last-index2"></div>
