---
layout: default
index: 6
title: Gym Gent
description: Renovatie van een gym in Gent door HosteVanhee.
---


{% include project-style.html %}


<div class="over">
  <div class="container-fluid">
    <div class="over-margin" style="background-color: #F18664;">
      <span class="over-special-margin">Gent</span>
      <div class="over-image">
        <img src="/img/Fourward Gym/gent-gym-fietsen.jpg" alt="over ons">
      </div>
      <div class="over-text">
        <p>In een voormalig industrieel pakhuis te Gent diende een gloednieuwe kinépraktijk te komen. De therapeuten wilden de nadruk leggen op beleving tijdens de behandelsessies. Een gym waar therapie ook een ontspanningsmoment is voor de patiënt.

          <br><br>HosteVanhee ging aan de slag met deze uitdaging. Het bestaande industriële karakter werd ten volle benut om de gym een moderne industriële look te geven. De gymruimte oogt open en is overzichtelijk, maar heeft tegelijk voldoende corners voor behandelingen. Zwevende volumes die dienen als behandelruimtes en claustra-metselwerk zorgen voor architecturale spanning in het interieur.</p>

        <p>De kabinetten in de gym zijn verspreid over de ruimte en bieden een maximale bewegingsvrijheid voor therapeut en patiënt. Het logo en de huisstijl werden mee geïntegreerd in het concept van de gymruimte.

          <br><br>Alle kabinetten zijn uitgevoerd in hout en vormen zo een mooi contrast met de betonnen structuur en ruimte. </p>

      </div>
    </div>
  </div>
</div>

<div class="color-spacer skyblue"></div>

<div class="image-two-right showcase">
  <div class="container-fluid">
    <div class="image-area">
      <img src="/img/Fourward Gym/gent-gym-deurentrap.jpg" alt="over ons">
    </div>
    <div class="text-area">
      <img src="/img/Fourward Gym/gent-gym-trap.jpg" alt="over ons">
      <span class="tilt-text case2a">Gym <br> 400 m<sup>2</sup></span>
      <span class="tilt-text itl case3a text-skyblue hybrid-text-midnightblue no-mobile">“Het eerste concept was voor ons een totale aangename verrassing. Een concept volledig out-of-the-box. Letterlijk en figuurlijk. Wijs!”</span>
    </div>
  </div>
</div>

<div class="color-spacer midnightblue hybrid-skyblue"></div>

<div class="image-left">
  <div class="text-area mx-auto">
    <img src="/img/Fourward Gym/gent-gym-deur.jpg" alt="over ons">
  </div>
</div>

<div class="color-spacer skyblue"></div>

<div class="image-right">
  <div class="text-area mx-auto">
    <img src="/img/fourward-gym-gent.jpg" alt="over ons">
  </div>
</div>


<div class="color-spacer midnightblue for-abtbx"></div>

{% include related-com.html %}


<div class="color-spacer midnightblue last-index2"></div>
