<!DOCTYPE html>
<html class="no-js">
  <head>

    {% include head.html %}

  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src=“https://www.googletagmanager.com/ns.html?id=GTM-KHPWMTS”
    height=“0" width=“0” style=“display:none;visibility:hidden”></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <div class="transparent-card">




    {% include header.html %}


    {{ content }}









    {% include footer.html %}

    </div>

    </body>
</html>
