---
layout: default
index: 4
---


{% include project-style.html %}


<div class="over">
  <div class="container-fluid">
    <div class="over-margin" style="background-color: #F18664;">
      <span class="over-special-margin">Edegem</span>
      <div class="over-image">
        <img src="/img/Sinaai/sinaai-apotheek-kast-2.jpg" alt="over ons">
      </div>
      <div class="over-text">
        <p>Een apotheek in een woonwijk, dicht bij de stad.  HosteVanhee werd gevraagd om een concept te ontwerpen waarbij de hippe grootstad kon vertaald worden naar de woonwijk.

          <br><br>De beleving van de klanten stond voorop. In de apotheek is ruimte om verschillende producten te testen. Cosmetica en huismerken staan er op de voorgrond.</p>

        <p>Door het werken met thema-hoeken voelen zowel de jongere als de oudere generatie er zich thuis.</p>
      </div>
    </div>
  </div>
</div>

<div class="color-spacer skyblue"></div>

<div class="image-two-right showcase">
  <div class="container-fluid">
    <div class="image-area">
      <img src="/img/Edegem/edegem-apotheek-gordijnen.jpg" alt="over ons">
    </div>
    <div class="text-area">
      <img src="/img/Edegem/edegem-apotheek-kraan.jpg" alt="over ons">
      <span class="tilt-text case2a">Apotheek <br> 65 m<sup>2</sup></span>
      <span class="tilt-text itl case3a text-skyblue hybrid-text-midnightblue no-mobile">“Als jonge apothekers voelen wij hier ons volledig thuis. HosteVanhee heeft de apotheek de uitstraling gegeven waar we naar op zoek waren.”</span>
    </div>
  </div>
</div>

<div class="color-spacer midnightblue hybrid-skyblue"></div>

<div class="image-left">
  <div class="text-area mx-auto">
    <img src="/img/Edegem/edegem-apotheek-kast.jpg" alt="over ons">
  </div>
</div>

<div class="color-spacer orange"></div>


<div class="image-two-right showcase">
  <div class="container-fluid">
    <div class="text-area left-img">
      <img src="/img/Edegem/edegem-apotheek-vloer.jpg" alt="over ons">
    </div>
      <div class="image-area right-img">
        <img src="/img/Edegem/edegem-apotheek-leftcounter.jpg" alt="over ons">
      </div>
  </div>
</div>

<div class="color-spacer midnightblue for-abtbx"></div>

{% include related-com.html %}


<div class="color-spacer midnightblue last-index2"></div>
