---
layout: default
index: 3
title: Apotheek Sinaai
description: Renovatie van een apotheker in Sinaai door HosteVanhee.
---


{% include project-style.html %}


<div class="over">
  <div class="container-fluid">
    <div class="over-margin" style="background-color: #F18664;">
      <h1 class="over-special-margin">Sinaai</h1>
      <div class="over-image">
        <img src="/img/Sinaai/sinaai-apotheek-uithangbord.jpg" alt="uithangbord in Apotheek Sinaai">
      </div>
      <div class="over-text">
        <p>Toen de dorpsapotheek in Sinaai wou uitbreiden, zochten ze een nieuw pand zonder de connectie met het dorp te verliezen. Ze botsten op de voormalige pastoriewoning op het dorpsplein.
          <br>Om deze verhuis te laten slagen, deden ze beroep op HosteVanhee voor een totaalontwerp en de coördinatie. </p>
        <p>Het pand werd volledig gerenoveerd tot een moderne apotheek, die de kleinschaligheid van een dorpsapotheek weet te behouden en die combineert met de nieuwste technieken en materialen.
          <br>Akoestische plafonds en afzonderlijke toonbanken garanderen de nodige privacy voor elke klant.</p>
      </div>
    </div>
  </div>
</div>

<div class="color-spacer skyblue"></div>

<div class="image-two-right showcase">
  <div class="container-fluid">
    <div class="image-area">
      <img src="/img/Sinaai/sinaai-apotheek-kastdetail.jpg" alt="Sinaai apotheek kastdetail">
    </div>
    <div class="text-area">
      <img src="/img/Sinaai/sinaai-apotheek-lamp.jpg" alt="Lamp in Apotheek Sinaai">
      <span class="tilt-text case2a">Apotheek <br> 120 m<sup>2</sup></span>
      <span class="tilt-text itl case3a text-skyblue hybrid-text-midnightblue no-mobile">"HosteVanhee voelde van in het begin waar we naartoe wilden. Een gezellige apotheek waar iedere patiënt zich thuisvoelt en waar de zorg voorop staat."</span>
    </div>
  </div>
</div>

<div class="color-spacer midnightblue hybrid-skyblue"></div>

<div class="image-left">
  <div class="text-area mx-auto">
    <img src="/img/Sinaai/sinaai-apotheek-boom.jpg" alt="Boom in Apotheek Sinaai">
  </div>
</div>

<div class="color-spacer skyblue"></div>

<div class="image-right">
  <div class="text-area mx-auto">
    <img src="/img/Sinaai/sinaai-apotheek-kast.jpg" alt="Sinaai apotheek kast">
  </div>
</div>


<div class="color-spacer midnightblue for-abtbx"></div>

{% include related-com.html %}


<div class="color-spacer midnightblue last-index2"></div>
