---
layout: default
index: 8
---


{% include project-style.html %}


<div class="over">
  <div class="container-fluid">
    <div class="over-margin" style="background-color: #F18664;">
      <span class="over-special-margin">Roeselare</span>
      <div class="over-image">
        <img src="/img/Roeselare/roeselare-kast.jpg" alt="over ons">
      </div>
      <div class="over-text">
        <p>Voor een klant in Roeselare mocht HosteVanhee een multifunctionele haardwand ontwerpen.</p>
        <p>Een minimalistische haardwand met een maximale invulling van functies. Niet alleen de haard diende herwerkt te worden. Ook de televisie, barkast en het bureau dienden in deze wand ingewerkt te worden.</p>
        <p>HosteVanhee ging aan de slag door het gebruik van de nieuwste meubeltechnieken om zo het geheel een minimalistische look te geven. Verdoken handgrepen en scharnieren zorgen voor een rustig wandgeheel.</p>
        <p>Eik en natuursteen gaan in dit ontwerp hand in hand. Fijne details geven dit meubel een extra touch die je niet verwacht. Achter de gesloten deuren geeft dit meubel pas echt zijn innovatie aanpak weer.</p>
      </div>
    </div>
  </div>
</div>

<div class="color-spacer skyblue"></div>

<div class="image-two-right showcase">
  <div class="container-fluid">
    <div class="image-area">
      <img src="/img/Roeselare/roeselare-kastdetail-3.jpg" alt="over ons">
    </div>
    <div class="text-area">
      <img src="/img/Roeselare/roeselare-kastdetail-2.jpg" alt="over ons">
      <span class="tilt-text case2a">Roeselare <br> 60 m<sup>2</sup></span>
      <span class="tilt-text itl case3a text-skyblue hybrid-text-midnightblue no-mobile">"HosteVanhee is erin geslaagd om onze woning de rust te geven die het nodig had. Alles zit mooi en fijn afgewerkt achter wandpanelen."</span>
    </div>
  </div>
</div>

<div class="color-spacer midnightblue hybrid-skyblue"></div>

<div class="image-left">
  <div class="text-area mx-auto">
    <img src="/img/Roeselare/roeselare-openhaard.jpg" alt="over ons">
  </div>
</div>

<div class="color-spacer orange"></div>


<div class="image-two-right showcase">
  <div class="container-fluid">
    <div class="text-area left-img">
      <img src="/img/Roeselare/roeselare-kastdetail-4.jpg" alt="over ons">
    </div>
      <div class="image-area right-img">
        <img src="/img/Roeselare/roeselare-kastdetail.jpg" alt="over ons">
      </div>
  </div>
</div>


<div class="color-spacer midnightblue for-abtbx"></div>

{% include related.html %}


<div class="color-spacer midnightblue last-index2"></div>
