---
layout: default
index: 2
title: Apotheek Ieper
description: Renovatie van een apotheker in Ieper door HosteVanhee.
---


{% include project-style.html %}


<div class="over">
  <div class="container-fluid">
    <div class="over-margin" style="background-color: #F18664;">
      <h1 class="over-special-margin">Ieper</h1>
      <div class="over-image">
        <img src="/img/Ieper/ieper-apotheek-counter.jpg" alt="over ons">
      </div>
      <div class="over-text">
        <p>Het verbouwen van een apotheek in Ieper in een historisch pand met een geklasseerde gevel was een mooie uitdaging.
          <br>Het resultaat dat we voor ogen hadden was een moderne apotheek met respect voor het verleden en een innovatieve blik op de toekomst.</p>
        <p>De ruimte werd volledig opengemaakt om optimaal gebruik te kunnen maken van natuurlijk licht. De innovatieve ingrepen zoals een apotheekautomaat werden creatief gecombineerd met een interieur dat zowel moderne als klassieke referenties heeft.
          <br>De symbiose tussen modern en klassiek maakt dat het er aangenaam werken is. </p>
      </div>
    </div>
  </div>
</div>

<div class="color-spacer skyblue"></div>

<div class="image-two-right showcase">
  <div class="container-fluid">
    <div class="image-area">
      <img src="/img/Ieper/ieper-apotheek-wittekastdetail.jpg" alt="over ons">
    </div>
    <div class="text-area">
      <img src="/img/Ieper/ieper-apotheek-wittekast.jpg" alt="over ons">
      <span class="tilt-text case2a">Ieper <br> 205 m<sup>2</sup></span>
      <span class="tilt-text itl case3a text-skyblue hybrid-text-midnightblue no-mobile">"Onze apotheek kreeg een update maar met respect voor het verleden. De volledige coördinatie met alle partijen is vlekkeloos verlopen."</span>
    </div>
  </div>
</div>

<div class="color-spacer midnightblue hybrid-skyblue"></div>

<div class="image-left">
  <div class="text-area mx-auto">
    <img src="/img/Ieper/ieper-apotheek-kast.jpg" alt="over ons">
  </div>
</div>

<div class="color-spacer orange"></div>


<div class="image-two-right showcase">
  <div class="container-fluid">
    <div class="text-area left-img">
      <img src="/img/Ieper/ieper-apotheek-blauwekast.jpg" alt="over ons">
    </div>
      <div class="image-area right-img">
        <img src="/img/Ieper/ieper-apotheek-lampen-2.jpg" alt="over ons">
      </div>
  </div>
</div>

<div class="color-spacer skyblue"></div>

<div class="image-right">
  <div class="text-area mx-auto">
    <img src="/img/Ieper/ieper-apotheek-inkom.jpg" alt="over ons">
  </div>
</div>


<div class="color-spacer midnightblue for-abtbx"></div>

{% include related-com.html %}


<div class="color-spacer midnightblue last-index2"></div>
